
        body {
            display: flex;
            justify-content:space-around;
            font-family: "Poppins",monospace;
            background-color:white;
        }
        .img-size {
            display:flexbox;
            width: 380px;
            height: 500px;
            transform: translate(50%);
        }
        .small-size {
            width: 25px;
            margin-bottom: -6px;
        }
        .photo-size {
            width: 125px;
            margin-bottom: 90px;
            margin-left: 10px;
        }
        .format {
            width: 125px;
            margin-bottom: 50px;
        }
        .for-h1 {
            font-family: "Lobster Two","Pacifico", cursive;
            font-weight: 520;
            margin-top: 1px;
            text-align: center;
          }
        .for-input {
            width: 280px;
            padding: 10px;
            margin:  3px;
            background-color: #e9ecefcf; 
            font-family: 'Poppins',monospace;     
        } 
        .for-login {
            width: 100%;
            padding: 8px;
            border: none;
            border-radius: 5px;
            background-color: #00a6ff;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            margin: 5% 0;
            font-family: 'Poppins',monospace;
        }
        .padding {
            padding: 10px;
            text-align: center;
            font-weight: bold;
        }
        .padding a {
            text-decoration: none;
            color: darkblue;
        }
        .end-padd {
            
            text-align: center;
        }
        .padd-for-end {
            padding: 2px;
            text-align: center;
        }
        .forgot {
            padding: 8px;
            text-align: center;
            
            font-weight:300;
            font-size: 15px;
        }
        .forgot a {
            text-decoration:underline;
            color: #6600ff;
        }
        .container {
            border: 1px ridge #ccc;
            width: 300px;
            height: 320px;
            padding: 30px;
        }  
        .for-dont{
            padding: 5px;
            border: 1px ridge #ccc;
            text-align: center;
            font-family: "Poppins", monospace 
        }
        .for-dont a {
            text-decoration: none;
            color: #009dff;
            font-weight: bold;
        }
        .or-container {
            display: flex;
            align-items: center;
            margin: 8px 0;
        }
        .line {
            border-top: 1px solid #000;
            flex-grow: 1;
        }       
        .or {
            margin: 0 8px;
            text-align: center;
            
        }
        @media (max-width: 600px) {
            body {
                
                justify-content: center;
                align-items: center;
            }
            .img-size{
                display: contents;
                
            }
            .for-h1 {
                font-size: 24px;
            }
            .container {
                width: 90%;
                padding: 15px;
            }
            .for-login{
                margin: 5% 0;
            }
            .photo-size, .format{
                width: 100px;
            }
            .forgot {
                padding: 2px;
            }
            .for-input {
                width: 230px;
            }
        }
    